---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const blogEntries = await getCollection("blog");
const fallbackImage = "https://picsum.photos/200";

// Sort blog entries by publication date in descending order
blogEntries.sort((a, b) => {
    const dateA = Date.parse(a.data.pubDate.toString());
    const dateB = Date.parse(b.data.pubDate.toString());
    return dateB - dateA;
});

// Generate thumbnails for each entry
const thumbnails = await Promise.all(
    blogEntries.map(async (entry) => {
        const imageSrc = entry.data.image || fallbackImage;
        return await getImage({ src: imageSrc, width: 720, height: 480 });
    })
);
---

<Layout title="Andrei (f24816)">
    <div class="large" id="centered">
        <h1>My Articles</h1>
        <br />
        <div class="post-grid">
            {
                blogEntries.map((entry, index) => (
                    <div>
                        <a href={`/blog/${entry.slug}`}>
                            <div
                                class="post_box"
                                style={`background-image: linear-gradient(#fff0 0%, #fff0 50%, #020202e6 120%), url('${thumbnails[index].src}');`}
                            ></div>
                        </a>
                        <div class="info py-2 pb-4">
                            <p class="topic">
                                {entry.data.topic.toUpperCase()}
                            </p>
                            <a href={`/blog/${entry.slug}`}>
                                <p class="sm-title my-2">{entry.data.title}</p>
                            </a>
                            <p class="description pb-4">
                                {entry.body
                                    .substring(0, 90)
                                    .split(" ")
                                    .slice(0, -1)
                                    .join(" ")
                                    .replace("## ", "") + "..."}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
        <br />
    </div>
</Layout>

<style lang="scss">
    .post-grid {
        display: grid;
        gap: 1rem;
    }
    @media screen and (min-width: 600px) {
        .post-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 900px) {
        .post-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 1100px) {
        .post-grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 1300px) {
        .post-grid {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 1700px) {
        .post-grid {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 2000px) {
        .post-grid {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }
    }
    .topic {
        margin: 11px 0;
        font-size: 13px;
        background-color: #372f29;
        width: fit-content;
        padding: 0.1rem 0.5rem;
        border-radius: 4px;
    }
    .sm-title {
        color: #bbb5ae;
        font-size: 1.4rem;
        line-height: 140%;
        font-weight: 600;
        text-decoration: none;
        font-family: "Inter", sans-serif;
    }
    .description {
        margin: 0;
        color: #6d6a6a;
        font-size: 14.4px;
    }
    .post_box {
        border: 1px solid #303030;
        border-radius: 4px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 100%;
        aspect-ratio: 16 / 9;
    }
    a:hover {
        text-decoration: none;
    }
    ul {
        /* No bullets */
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 4px;
    }
    .sm-title:hover {
        color: white;
    }
</style>
